/* font-family: 'Rajdhani', sans-serif; */

body {
    scroll-width: none; /*Firefox*/
}
  
/*Webkit*/
body::-webkit-scrollbar {
    width: 0;
}

@font-face {
font-family: PatsySans;
src: url("../fonts/patsy/PatsySans.otf");
}

*{
    cursor: url("../img/cursor.png");
}

body{
    background-color: #000000;
    cursor: url("../img/cursor.png"), auto;
}

a{
    cursor: url("../img/pointer.png"), auto;
}

nav{
    background-color: rgba(0, 0, 0, .4);
    height: 72px;
    line-height: 72px;
    display: flow-root;
}

.nav-wrapper{
    background-color: rgba(0, 0, 0, .4);
}

.logo{
    width: 127px;
    height: 39px;
    margin: 17px 0 0 39px;
}

.redes{
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
}

.redes a{
    padding: 0 5px;
}

.redes a img{
    width: 18px;
}

.registrate{
    background: #d90e90;
    margin-top: 20px;
    height: 30px;
    line-height: 2;
    padding: 0px 15px;
    border-radius: 8px;
}

.wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: -72px;
}

.wrapper .wrapper__video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.divider{
    display: none;
    height: 3px;
}

.bg{
    height: 100vh;
}

/*** Cronometro */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .contenedor {
    color: #000000;
    text-align: center;
  }
  .cartel {
    width: 109px;
    height: 109px;
    padding: 10px 0px 5px 0px;
    text-align: center;
    display: inline-block;
    margin: 5px;
    /* border: 3px solid #000000; */
    border-radius: 5px;
  }
  .cartel>div{
    font-family: PatsySans;
    font-size: 100px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }

  .dots{
    font-family: Roboto !important;
    font-size: 100px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }

  .cartel>div>h3 {
    margin-top: 15px;
    font-family: Rajdhani;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.79px;
    text-align: center;
    color: #fff;
  }
  .h3 {
    bottom: 0;
    margin: 0 auto ;
  }
  .contenedor {
    padding-top: 6%;
  }
  .contenido {
    width: 80%;
    margin: 0 auto;
    border: 0px solid black;
    z-index: 10;
    padding-top: 7%;
  }
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  li span {
    display: block;
    font-size: 4.5rem;
  }
  .numeros {
    font-family: 'Chela one', sans-serif;
    font-size: 60px;
    transition: .3s;
    animation-name: fade;
    animation-duration: 3s;
  }
  .responsivo1 {
    display: inline-block
  }
  .responsivo2 {
    display: inline-block
  }

  @keyframes fade {
      0%   {
        opacity: 0;
    }
      30%   {
        opacity: 0;
    }  
      100% {
        opacity: 1;
    }
  }

/*** fin contador */

.alto{
    height: 100vh;
}

.para{
    margin-top: 2rem;
    font-family: PatsySans;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.para span{
    font-size: 50px;
}

.evento{
    font-family: Rajdhani;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.89px;
    text-align: center;
    color: #fff;
}

.fijo {
    background-image: url("../img/bg4.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#que{
    padding-top: 10%;
}

.ubicacion{
    padding-bottom: 11rem;
}

.quees{
    margin-top: 6rem;
    font-family: PatsySans;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.43px;
    text-align: center;
    color: #fff;
}

.mas{
    margin-top: 2rem;
    font-family: Rajdhani;
    font-size: 27px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.desdec{
    width: 61.56%;
    margin: 0 auto;
}

.desde{
    font-family: Rajdhani;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.36;
    letter-spacing: 0.5px;
    text-align: center;
    color: #fff;
}

.registratet{
    margin-top: 3rem;
    font-family: Rajdhani;
    font-size: 27px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.rg{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    align-content: center;
}

.rgbtn{
    background-color: #48bddf;
    font-weight: bold;
}

.conoce{
    margin-top: 8rem;
    font-family: PatsySans;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.43px;
    text-align: center;
    color: #fff;
}

.line{
    height: 4px;
    width: 49px;
    background-color: #d90e90;
    margin: 0 auto;
    margin-top: 2rem;
}

.border{
    border: rgba(34, 80, 105, .51) 2px solid;
}

.l{
    margin-right: 2rem;
}

.c{
    margin-right: 1rem; margin-left: 1rem;
}

.r{
    margin-left: 2rem;
}

.rl{
    margin-right: 1rem;
}

.rr{
    margin-left: 1rem; 
}

.blueCard{
    background-color: rgba(34, 80, 105, .51);
    margin: 4px;
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    justify-content: center;
}

.blueCard img{
    width: 60%;
    margin-bottom: 3rem;
}

.blueRectangle{
    background-color: rgba(34, 80, 105, .51);
    margin: 4px;
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/.3;
    justify-content: center;
}

.blueRectangle img{
    width: 60%;
    margin-bottom: 1rem;
}

.nuestros{
    padding: 3rem;
    font-family: PatsySans;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.prensa{
    margin-top: 5rem;
    font-family: PatsySans;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.linewhite{
    height: 4px;
    width: 49px;
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 1rem;
}

.title{
    font-family: Rajdhani;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.79px;
    color: #fff;
}

.description{
    margin-bottom: 1rem;
    font-family: Rajdhani;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.5px;
    color: #fff;
}

.prensaCard{
    margin: 0 2rem;
}

.prensaCard img {
    width: 100%;
    border: 5px solid #fff;
}

.contain{
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.ir{
    text-decoration: underline;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.5px;
    text-align: center;
    color: #fff;
}

.donde{
    margin-top: 9rem;
    font-family: PatsySans;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.43px;
    text-align: center;
    color: #fff;
}

.fechas{
    text-align: center;
    font-family: Rajdhani;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.07px;
    color: #fff;
}

.no{
    font-family: Rajdhani;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.71px;
    text-align: center;
    color: #fff;
}

.ev{
    margin: 0 auto;
}

.footer{
    font-family: Rajdhani;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #fff;
}

.contactanos{
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.correo{
    margin-top: 3px;
    font-family: Rajdhani;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.hpan{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.vpan{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}

.logof{
    width: 104px;
    height: 32px;
    margin-top: 34px;
    margin-left: 41px;
    margin-right: 22px;
    margin-bottom: 34px;
}

.rigth{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.columna{
    margin-right: 2rem;
}

.redess{
    display: flex;
    flex-direction: row;
}

.redess a{
    padding: 0 8px;
    margin-top: 3px;
}

.redess a img{
    width: 32px;
}

#particles-js .particles-js-canvas-el{
    height: calc(3.1*100vh) !important;
    margin-top: -50vh;
}

#particles-js2 .particles-js-canvas-el{
    height: calc(1.5*100vh) !important;
    margin-top: -72vh;
}

.registratea{
    padding-top: 8rem;
    font-family: PatsySans;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.egs{
    font-family: PatsySans;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.fechasel{
    font-family: Rajdhani;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.07px;
    color: #fff;
    text-align: center;
}

.montecito{
    font-family: Rajdhani;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.71px;
    text-align: center;
    color: #fff;
}

.registrotxt{
    font-family: PatsySans;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-top: 6rem;
}

.selecciona{
    font-family: Rajdhani;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.71px;
    text-align: center;
    color: #fff;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.registrot{
    font-family: PatsySans;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    padding-top: 8rem;
}

.shadow{
    background-color: rgba(0, 0, 0, .45);
}

.bienvenido{
    font-family: PatsySans;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  padding-top: 2rem;
  margin-bottom: 5rem;
}

.agradecemos{
    font-family: Rajdhani;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.el{
    font-family: Rajdhani;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #fff;
}

.pre{
    font-family: Rajdhani;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pre span{
    font-size: 13px;
}

.esp{
    width: 85%;
    margin: 0 auto;
}

input[type=text],
input[type=email]{
    border: 1px solid gray !important;
    margin-top: 7px !important;
    color: white !important;
    padding-left: 5px !important;
}

.campo{
    font-family: Rajdhani;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.36px;
    color: #fff;
}

.dias{
    font-family: Rajdhani;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #fff;
}

.terminos{
    font-family: Rajdhani;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #fff;
}

.terminos a{
    text-decoration: underline;
    font-family: Rajdhani;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #fff;
}

.swal2-modal{
    border: 1px solid !important;
}

#dondw .particles-js-canvas-el{
    /* height: calc(3.1*100vh) !important; */
    margin-top: -75vh;
}

#p1 .particles-js-canvas-el{
    /* height: calc(3.1*100vh) !important; */
    margin-top: -90vh;
}

#p2 .particles-js-canvas-el{
    /* height: calc(3.1*100vh) !important; */
    margin-top: -93vh;
}

.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%;
}

.icon-scroll{
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 90%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 25px;
}

.icon-scroll:before{
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll{
    0% {
        opacity: 1;
    }
    100% {
    opacity: 0;
    transform: translateY(46px);
    }
}


@media (max-width: 1069px) {  
    .contenido{
        width: 100%;
    }

    .cartel{
        width: auto;
    }

    .wrapper{
        height: auto;
    }
} 

@media (max-width: 625px) {  

    .alto{
        height: auto;
    }

    .contenido{
        width: 100%;
    }

    .cartel>div{
        font-size: 80px;
    }

    .para{
        font-size: 30px;
    }

    .para span{
        font-size: 40px;
    }

    .evento{
        font-size: 20px;
    }

    .desdec{
        width: 85%;
    }

    .conoce{
        margin-top: 2rem !important;
        font-size: 30px;
        width: 80%;
        margin: 0 auto;
    }

    .l{
        margin-right: 2rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    
    .r{
        margin-bottom: 2rem;
        margin-top: 2rem;
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .c{
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .rl{
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .rr{
        margin-top: 2rem;
        margin-right: 2rem;
        margin-left: 2rem;
        margin-bottom: 4rem;
    }

    .prensaCard{
        margin-bottom: 4rem;
    }

    #dondw{
        /* height: ; */
    }

    .quees{
        font-size: 30px;
    }

    .nuestros{
        font-size: 40px;
    }

    .prensa{
        font-size: 40px;
    }

    .donde{
        font-size: 40px;
    }

    #particles-js .particles-js-canvas-el{
        height: calc(50vh) !important;
        margin-top: -50vh;
    }
    
    #particles-js2 .particles-js-canvas-el{
        height: calc(80vh) !important;
        margin-top: -72vh;
    }

    .left{
        width: 100%;
    }

    .redess a img{
        width: 40px;
    }

} 

@media (max-width: 490px) {  
    .contenido{
        width: 100%;
    }

    .cartel>div{
        font-size: 65px;
    }

    .cartel>div>h3 {
        font-size: 20px;
      }

} 

@media (max-width: 430px) {  
    .contenido{
        width: 100%;
    }

    .cartel>div{
        font-size: 40px;
    }

    .cartel>div>h3 {
        font-size: 11px;
      }

} 
